* {
  margin: 0;
  padding: 0;
}
/* -------------nav--------------- */
.header {
  cursor: context-menu;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: x-large;
  font-weight: 1000;
}
.navlinks {
  margin-right: 1.78rem;
  color: #ffff;
  font-family: "Poppins";
  font-weight: 600;
}
.navbar {
  position: relative;
}
.dropdown a:hover {
  color: #007bff;
}
nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}
/* ---------------endnav----------------- */
/* ------------------searchbox--------------------- */

.search-btn {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
}
/* -----------------endsearchbox------------------------- */
/* ----------------flexbox------------------- */
.box-title h2 span {
  cursor: pointer;
  font-family: "Poppins";
  font-size: 1rem;
  color: #ffff;
  font-weight: 700;
  padding: 0.3rem 1.5rem 0.3rem;
  background: #007bff;
  display: inline-block;
  margin-top: 2rem;
}
.box-title h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #007bff;
  position: relative;
}
.row {
  position: relative;
  margin-left: 0.1062rem;
}
.campus {
  margin-right: 0.625rem;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  flex-basis: 24%;
}
.campus img {
  width: 100%;
  height: 27vh;
  display: block;
  bottom: 0.4rem;
}
.layer h3 {
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 700;
  color: #333;
}
.layer h6 {
  color: #808080;
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: 400;
}
.campus h3 span {
  position: absolute;
  max-width: 7rem;
  z-index: 3;
  bottom: 0;
  left: 0.7rem;
  padding: 0.2rem 0.8rem 0.2rem;
  background: #007bff;
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 700;
  transition: 0.5s;
  opacity: 0;
}
.campus:hover h3 span {
  opacity: 1;
  bottom: 24%;
}
.visit-btn {
  display: inline-block;
  font-family: "Poppins";
  font-weight: 600;
  border-radius: 0.6rem;
  color: #fff;
  border: 1px solid#FFF;
  padding: 0.6rem 2.4rem;
  font-size: 1rem;
  position: relative;
  background: #007bff;
  cursor: pointer;
}
.visit-btn:hover {
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
}
/* -------------------endflexbox-------------------------- */
/* ---------------------newsbody-------------------------- */
.newsbody {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.col-left {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}
.col-right {
  display: flex;
  flex-direction: column;
}
.news-content-left {
  margin-top: 1rem;
  display: flex;
}
.news-content-left > img {
  margin-right: 1rem;
  padding: 0;
  height: 8.3rem;
}
.news-content-left h5 {
  margin-top: 0;
}
.news-content-right {
  margin-top: 1rem;
  display: flex;
}
.news-content-right > img {
  margin-right: 1rem;
  height: 2.8rem;
  padding: 0;
}
.text-box h5 {
  font-size: 1rem;
  font-weight: 700;
}
.text-box h6 {
  font-size: 0.8rem;
  color: #999999;
}
/* -----------------------endnewsbody--------------------------  */

/* -----------------media----------------- */

@media (max-width: 1199px) {
  .campus {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .col-left {
    display: flex;
    margin-right: 2rem;
  }
  .col-right {
    display: flex;
  }
}
@media (max-width: 991px) {
  .search-btn {
    font-size: 0.6rem;
    padding: 0.7rem 0.9rem 0.7rem 0.9rem;
  }
  .newsbody {
    flex-direction: column;
  }
  .col-right {
    margin-bottom: 4rem;
  }
  .news-content-right > img {
    height: 5rem;
  }
  .campus {
    flex-basis: 40%;
  }
}
@media (max-width: 767px) {
  .campus img {
    height: 35vh;
  }
  .search-btn {
    font-size: 1rem;
  }
  .campus {
    flex-basis: 100%;
  }
}
@media (max-width: 439px) {
  .news-content-left {
    display: flex;
    flex-direction: column;
  }
  .news-content-left > img {
    height: 20vh;
  }
  .text-box {
    margin-top: 1rem;
  }
  .col-left {
    margin: 0;
  }
  .campus img {
    height: 25vh;
  }
}
/* ---------------endmedia------------------------ */
